<!--
Title : Cook's Room
Description : A mini website that features different recipe and influencers/ food enthusiast.
                The purpose of this website is to appreciate more our filipino recipe and those influencers
                also embracing and wnats to level up our culture on their contents. We want to give our users who
                loves to cook different learnings by providing them some channels that they can watch and recipes
                that they can try aon their owm./
Programmers:
            John Rupert S. Caingal
            Ernesto E. Esguerra
            Christian H. Salamat
            Jimwell F. Seminiano

Date submitted : October 23, 2022

-->

<!DOCTYPE html>
<html>
<head>
	<title>Cook's Room -Influencers</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/p2.css')}}">
</head>
<body>

	<div class="nav">
		<h2 class="logo">COOK'S ROOM</h2>
			<nav>
			<ul class="nav-links">

	

				
<li><a href="{{url_for('home')}}">Home</a></li>

				<li><a href="{{url_for('page2')}}">Influencers Page</a></li>
				<li><a href="{{url_for('page3')}}">Recipes</a></li>
				<li><a href="#">About Us</a></li>
				
			</ul>
		</nav>
		<a href="mailto:you.dev@mail.com" class="contact"><button class="ctc">Contact</button></a>
		
	</div>


	<div id="Title">
			<div class="titleC">

				<br>
			<h1><font id="title-"><big><b>FOOD ENTHUSIASTS</b></big></font></h1>
			<p style="font-weight: bold;">Y O U&nbsp&nbsp C A N&nbsp&nbsp F O L L O W&nbsp&nbsp T H E M&nbsp&nbsp A N D&nbsp&nbsp G E T&nbsp&nbsp  I N S P O</p><br>
				
			</div>
	</div>

		<br><br><br><br>



	<!--Ninong Ry 	 -->
	<div class="content">

		<br><br>
		<p class="img"><a href="https://www.youtube.com/c/NinongRy" target="_blank" title="Go to Jessica's YT channel">
			<img src="{{url_for('static',filename='img/ninong.jpg')}}" alt="Ninong Ry"><br><br>
		</a>
			<b>Jessica Vu</b>
		</p>

		<p class="ifcont">Ninong Ry  or Chef Ryan is known for his carefree, almost messy manner of cooking(Part of humor). It’s a far departure from the structured steps of cooking videos available on the internet. While his videos are educational and full of cooking hacks, it’s actually grounded in scientific knowledge. Most Importnant Thing, he is fun to watc.</p><br>

		<hr width="500">

		<br>

		<p class="par">
			<b><small>Check out his other social medias:</small></b>
				<ul class="accnt">
					<li>&#10024; <b>IG</b>: 
						<a href="https://www.instagram.com/ninongry/?hl=en"target="_blank" class="links" title="go to Ninong Ry's IG">
							@ninongry
						</a>
					</li>


					<li>&#10024; <b>TIK TOK</b>: 
						<a href="https://www.tiktok.com/@ninongry?lang=en" target="_blank" title="Go to Ninong Ry's Tiktok" class="links">
							@jessyluxe
						</a>
					</li>

					

				</ul>
		</p> 
		<br><br>

		<p class="YTvid">

			<iframe width="560" height="315" src="https://www.youtube.com/embed/JpCi_2x6TqU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</p>

	</div>




	<br><br>



	<!--Chef JP Anglo -->
	<div class="content">

		<br><br>
		<p class="img"><a href="https://www.youtube.com/channel/UCm37QmpEveOoeKfUvp8bcvA" target="_blank" title="Go to Chef JP's YT channel">
			<img src="{{url_for('static',filename='img/jp.jpg')}}" alt="Chef JP Anglo"><br><br>
		</a>
			<b>Chef JP Anglo</b>
		</p>

		<p class="ifcont">JP, known in the culinary scene as Chef Jayps, hails from Bacolod, and is known for bringing a new twist to Filipino, and especially Negrense, cuisine..</p><br>

		<hr width="500">

		<br>

		<p class="par">
			<b><small>Check out his other social medias:</small></b>
				<ul class="accnt">
					<li>&#10024; <b>IG</b>: 
						<a href="https://www.instagram.com/chefjayps/?hl=en" target="_blank" title="Go to Chef JP's IG" class="links">
							@chefjayps
						</a>
					</li>
					<li>&#10024; <b>TIK TOK</b>: 
						<a href="https://www.tiktok.com/@jpanglo?lang=en" target="_blank" title="Go to Chef's Tiktok" class="links">
							@jpanglo
						</a>
					</li>
				

				</ul>
		</p> 
		<br><br>

		<p class="YTvid">

		<iframe width="560" height="315" src="https://www.youtube.com/embed/7sLtMqObW6E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</p>

	</div>




	<br><br>



	<!--Amrvin Agustin -->
	<div class="content">

		<br><br>
		<p class="img"><a href="https://www.youtube.com/c/MarvinAgustinbaYUMMYhan/videos" target="_blank" title="Go to Chef Marvin's YT channel">
			<img src="{{url_for('static',filename='img/marv.jpg')}}" alt="Chef Marvin Agustin"><br><br>
		</a>
			<b>Chef Marvin Agustin</b>
		</p>

		<p class="ifcont">Chef Marvin Agustin is most commonly known as an artist and many of have no idea that he is also a [very talented Chef. Chef Marvin's one of the signature dishes is his cochinillio. He always love to cook filipino inspired cuisine but alwasy have a twist of their food culture</p><br>

		<hr width="500">

		<br>

		<p class="par">
			<b><small>Check out his other social medias:</small></b>
				<ul class="accnt">
					<li>&#10024; <b>IG</b>: 
						<a href="https://www.instagram.com/marvinagustin/?hl=en" target="_blank" title="Go to Chef Marv's IG" class="links">
							@marvinagustin
						</a>
					</li>
					<li>&#10024; <b>TIK TOK</b>: 
						<a href="https://www.tiktok.com/@marvin_agustin?lang=en" target="_blank" title="Go to Chef Marv's Tiktok" class="links">
							@marvin_agustin
						</a>
					</li>
					

				</ul>
		</p>
		<br><br>

		<p class="YTvid">

			<iframe width="560" height="315" src="https://www.youtube.com/embed/6Tz0wK24olw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</p>

	</div>




	<br><br>



	<!--Panlasang Pinoy -->
	<div class="content">

		<br><br>
		<p class="img"><a href="https://www.youtube.com/c/PanlasangPinoyOriginal" target="_blank" title="Go to Bella's YT channel">
			<img src="{{url_for('static',filename='img/pp.jpg')}}" alt="Panlasang Pinoy"><br><br>
		</a>
			<b>Panlasang Pinoy</b>
		</p>

		<p class="ifcont">Vanjo Merano or Panlasang bPInoy . Live in the Northern suburbs of Chicago. He created his Filipino food blogs/vlogs, Panlasang Pinoy (The Filipino Taste), to share his best Filipino and Asian recipes to everyone.

			As huge fan of the Filipino way of cooking, its his goal to teach people how to cook Filipino dishes  using the simplest way possible./p><br>

		<hr width="500">

		<br>

		<p class="par">
			<b><small>Check out his other social medias:</small></b>
				<ul class="accnt">
					<li>&#10024; <b>IG</b>: 
						<a href="https://www.instagram.com/panlasangpinoy/?hl=en" target="_blank" title="Go to Bella's IG" class="links">
							@panlasangpinoy
						</a>
					</li>
					<li>&#10024; <b>TIK TOK</b>: 
						<a href="https://www.tiktok.com/@vanjomerano?lang=en" target="_blank" title="Go to Bella's Tiktok"  class="links">
							@venjomerano
						</a>	
					</li>
					

				</ul>
		</p> 
		<br><br>

		<p class="YTvid">

		<iframe width="560" height="315" src="https://www.youtube.com/embed/joLbhsXuAVA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</p>

	</div>





	<br><br>



	<!--Chef Hazel-->
	<div class="content">

		<br><br>
		<p class="img"><a href="https://www.youtube.com/c/HazelCheffy" target="_blank" title="Go to Chef Hazel's YT channel">
			<img src="{{url_for('static',filename='img/hazel.jpg')}}" alt="Chef Hazel"><br><br>
		</a>
			<b>HazelCheffy</b>
		</p>

		<p class="ifcont">
			 Chef Rezie Hazel Añonuevo, and we sit down with her as she shares her story – raw, unfiltered, and honest, just as a Cooking Ina should be! Yes, that's why Hazel cheffy is so popular because of his humor as a Cooking Ina who portray a typical Filipino Mom who love to cook for their love ones. HIst style is also not typically because she loves twist.
		</p><br>

		<hr width="500">

		<br>

		<p class="par">
			<b><small>Check out her other social medias:</small></b>
				<ul class="accnt">
					<li>&#10024; <b>IG</b>: 
						<a href="https://www.instagram.com/hazelcheffy/?hl=en" target="_blank" title="Go to Chef Hazel's IG" class="links">
							@hazelcheffy
						</a>
					</li>
					<li>&#10024; <b>TIK TOK</b>: 
						<a href="https://www.tiktok.com/@hazelcheffy" target="_blank" title="Go to Chef Hazel's TikTok" class="links">
							@hazelcheffy
						</a>
					</li>
					

				</ul>
		</p> 
		<br><br>

		<p class="YTvid">

	<iframe width="560" height="315" src="https://www.youtube.com/embed/oOIaJnd9D1g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</p>

	</div>




	<br><br><br>




	<!--Note-->
	<div id="note">
		
		<p> <b> <small>You can suggest different influencers you want to be feautured out.<br> Kindly email us your suggestions.</small></b></a></p>

	</div>

	<br><br>

	<br><br><br><br>










	<br><br>
	

	<footer>
		<p><ins><b>All rights reserved 2022 &#169;</b></ins></p>
	</footer>


</body>
</html>



</body>
</html>