<!--
Title : Cook's Room
Description : A mini website that features different recipe and influencers/ food enthusiast.
                The purpose of this website is to appreciate more our filipino recipe and those influencers
                also embracing and wnats to level up our culture on their contents. We want to give our users who
                loves to cook different learnings by providing them some channels that they can watch and recipes
                that they can try aon their owm./
Programmers:
            John Rupert S. Caingal
            Ernesto E. Esguerra
            Christian H. Salamat
            Jimwell F. Seminiano

Date submitted : October 23, 2022

-->
<!DOCTYPE html>
<html>
<head>
	<title>Cook's Room - Recipe</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/p3.css')}}">
</head>
<body>

	<div class="nav">
		<h2 class="logo">COOK'S ROOM</h2>
			<nav>
			<ul class="nav-links">

	

				

				<li><a href="{{url_for('home')}}">Home</a></li>

				<li><a href="{{url_for('page2')}}">Influencers Page</a></li>
				<li><a href="{{url_for('page3')}}">Recipes</a></li>
				<li><a href="#">About Us</a></li>

			</ul>
		</nav>
		<a href="mailto:you.dev@mail.com" class="contact"><button class="ctc">Contact</button></a>
		
	</div>

	<div class="content">

		<h2 id=btitle><big>Chicken adobo </big></h2>
		<p id="atr"><small>by Panlasang Pinoy</small></p>
		<br>

		<p class="par">

			<p class="img"><img src="{{url_for('static',filename='img/adb.jpg')}}" width="320" height="300"></p>
			

		</p>

	

		<p class="par">
			Cooking Chicken Adobo is quick and simple. This recipe suggests marinating the chicken to make it more flavorful. It is the best way to go if you want to experience authentic Filipino chicken adobo. If you are in a hurry, feel free to skip this step, but make sure to simmer the chicken longer than 30 minutes to better extract the flavors from it. <br><br>
			Start by marinating the chicken in soy sauce and garlic. The garlic needs to be crushed for best results. This process takes 1 hour to 12 hours depending on how flavorful you want the dish to be. Sometimes marinating for an hour is not enough. I think that 3 hours is optimal. The chicken absorbs most of the flavors from the soy sauce and garlic during this step. It is noticeable when you taste the dish after cooking. Note that it is also possible to include the vinegar in this step.<br><br>
			The next step is to separate the chicken from the marinade. Make sure to set the marinade aside because it will be used later on. Pan-fry the chicken pieces for 1 to 1 ½ minutes per side. This will partially cook the outer part. It also makes the skin tough enough to withstand stewing later. This means that it will remain intact, which is nice for presentation.<br><br>
			The next step is to separate the chicken from the marinade. Make sure to set the marinade aside because it will be used later on. Pan-fry the chicken pieces for 1 to 1 ½ minutes per side. This will partially cook the outer part. It also makes the skin tough enough to withstand stewing later. This means that it will remain intact, which is nice for presentation.<br>
<br>
			Pour marinade into the pot and add water. Let boil. The bay leaves and whole peppercorn can now be added. The process takes 20 to 25 minutes depending on the quality of the chicken. However, feel free to cook longer in low heat for a super tender chicken adobo.<br><br>

			Add the vinegar. This can also be added as a part of the marinade. Let it cook for 10 minutes and then add sugar and salt. I only add salt if needed. It is important to taste your dish before adding seasonings.<br><br>

			Filipino chicken adobo can be served with or without sauce. If you like it very tasty then continue to cook on an uncovered cooking pot until the liquid completely evaporates<br><br>
		
			
		</p>
		

	</div>

	<br><br>

	<div class="content">

		<h2 class=btitle><big>Pork Sinigang </big></h2>
		<p class="atr"><small>by Panlasang Pinoy</small></p>
		<br>

		<p class="par">

			<p class="img"><img src="{{url_for('static',filename='img/sng.jpg')}}" width="320" height="300"></p>
			

		</p>

	

		<p class="par">
			We will start out by taking 3 tablespoons of cooking oil, and pouring this into a pot. Make sure it is large in size, as we will be putting together a lot of vegetables and other components for this stew. Now apply heat, and wait for the oil to get hot. Once it does, proceed to add your 1 piece of onion you’ve cut into wedges, as well as 2 tomatoes. Sauté these together, until the layers of the onion begin to separate. <br><br>
			That would be your sign to integrate 3 lbs. of pork baby back ribs into the pot. Keep on sautéing the ingredients together, until your pork becomes light brown. Then pour 1 ½ liters of water inside, and cover the pot. We will wait for the water to boil, and when it begins boiling, you should take the heat to the low setting. After that, keep on boiling for 30 more minutes. This truly helps get the baby back ribs perfectly tender for eating later. .<br><br>
			Once the time has passed, you can start incorporating some of your seasonings to give the dish an unmistakably delightful sinigang taste. For this, we will use 44 grams of Knorr Sinigang sa Sampaloc with Gabi recipe mix. We will also add 1 cup of sliced daikon radish— an essential sinigang ingredient that provides some extra tartness. Then stir these new ingredients into the mixture. Afterwards, cover your pot. We will keep this cooking until the pork has gotten tender enough. Make sure to check every once in a while if your pork has gotten to your texture of preference<br><br>
			Of course, we can’t forget about a couple more components that help build the overall flavor of thsi dish. But so they don’t get overcooked, we are adding them a little bit later in the process. Go ahead and take your 3 pieces of long green chili pepper, and 15 string beans you’ve cut up in 2-inch pieces, and place this into the pot. Also add 8 pieces of okra, and 1 eggplant you’ve sliced up. Then let this cook for about 12 minutes. <br><br>

			After that, we will put our 3 bunches of pechay inside. Let this cook for a shorter time, which would be 3 minutes. Then we’re practically done! All you need to do to finish it off is season with some fish sauce and ground black pepper. Add as much as you’d like to get it to the flavor you desire. Then transfer your lovely Porknigang in your serving bowl of choice. Don’t forget to have this with heaps of warm rice! <br><br>
		
			
		</p>
		

	</div>

	<div class="content">

		<h2 class=btitle><big>Pork Sisig</big></h2>
		<p class="atr"><small>by Panlasang Pinoy</small></p>
		<br>

		<p class="par">

			<p class="img"><img src="{{url_for('static',filename='img/ssg.jpg')}}" width="320" height="300"></p>


			

		</p>

	

		<p class="par">

			This sisig recipe starts by boiling pork belly and pig ears until tender. These are then grilled for a few minutes until it browns and develops a good texture. I chop the meat into small pieces after grilling.<br><br>

			Start cooking the sisig by sautéing ginger. Add chicken liver. Cook it thoroughly. Note that ginger is an optional ingredient for this sisig version. I added it to reduce the gaminess of chicken liver. Feel free to use it based on your preference.<br><br>

				Add the minced meat. These are the pork belly and ears. Make sure to blend all the ingredients together. This will balance the flavor of the dish. Add the seasonings and spices afterwards.<br><br>

				You have the option to use a metal plate to serve the dish. This can also be served on a regular plate. I topped this version with egg. This is optional.
		<br><br>
		
			
		</p>
		

	</div>

	<div class="content">

		<h2 class=btitle><big>Pancit Palabok</big></h2>
		<p class="atr"><small>by Panlasang Pinoy</small></p>
		<br>

		<p class="par">

			<p class="img"><img src="{{url_for('static',filename='img/plb.jpg')}}" width="320" height="300"></p>


			

		</p>

	

		<p class="par">

			Making Pancit Palabok is usually divided into two portions: making the sauce and making the toppings. Altogether, cooking and prep time shouldn’t take longer than 45 minutes! In no time at all, you’ll have enough Pancit Palabok to feed your whole family. <br><br>

			Your sauce ingredients don’t require a lot of preparation beforehand, but your toppings sure do. Boil 1 cup of pork, then thinly slice and cut it into small pieces. Cube 2 pieces of fried firm tofu, pound half a cup of chicharon, and slice 2 hard boiled eggs. Don’t forget to boil or steam your shrimp (about half a cup) then finely chop your green onions or scallions.<br><br>

			All ready? Let’s start cooking! Soak 1 pack of rice noodles in water for about 15 minutes. Afterwards, drain them and set it aside. We’ll be focusing on the sauce portion of your pancit palabok first; begin by heating some cooking oil in a saucepan. Once your oil is hot enough, pour in half a pound of ground pork, letting it cook for about 5 to 7 minutes. <br><br>

			Take your tablespoon of annatto powder and dilute it in 3 cups of pork broth. If you’re using annatto seeds, it’s important to soak them first in 3 tablespoons of water to bring out the palabok’s trademark color. Pour this mixture into a saucepan and bring it to a boil. Add your shrimp cube and stir, letting the sauce simmer for about 3 minutes. Little by little, pour in, too, your 6 tablespoons of all purpose flour. Stir your pancit palabok sauce gradually as you do so. Add 2 tablespoons of fish sauce and half a teaspoon of ground black pepper and let your sauce simmer until it becomes thick. Once it has, turn the heat off and set it aside. <br><br>

			With your sauce out of the way, let’s now prepare the rest of your pancit! Boil enough water in a pot. Then, take your noodles and put them in a strainer (metal or bamboo), then submerge said strainer in the boiling water. This should only take about a minute or so, until the noodles are cooked. Remove the strainer from the pot, and drain the remaining water.<br><br>

			Now it’s time to prepare your pancit palabok serving plate! Place the noodles first before pouring the sauce over them thoroughly. Arrange your toppings –- your tofu, your chicharon, your shrimp, eggs, and others –– around the plate, and over the sauce. Last but not the least, give your pancit palabok that zesty flavor with a slice of lemon or calamansi.<br><br>
		<br><br>
		
			
		</p>
		

	</div>

	<div class="content">

		<h2 class=btitle><big>Classic Bulalo</big></h2>
		<p class="atr"><small>by Panlasang Pinoy</small></p>
		<br>

		<p class="par">

			<p class="img"><img src="{{url_for('static',filename='img/bll.jpg')}}" width="320" height="300"></p>


			

		</p>

	

		<p class="par">

			The steps to making Bulalo are simple, albeit quite long because of the tenderizing process. Nonetheless, you should be able to follow this beef shank stew with ease! <br><br>

			An optional precursor step to making bulalo is blanching your meat to avoid excess fat and sediments. Boil your beef shanks in water over medium heat, skimming the excess fats and scum that accumulate and float on the water. After 10 minutes, take your beef out and bring it under cold running water, “cleaning” it. Once you’ve removed the excess sediments and thrown out the used water, you can now start officially cooking your bulalo!<br><br>

			Pour 34 ounces (or about a liter) of water into a large cooking pot, bringing it to a boil. Once it starts boiling, it’s time to put in your beef shank, followed by your medium sized onion and peppercorn. If you’re using a pot, let the meat simmer for about an hour and a half. But for a pressure cooker you’ll only need about half an hour. Let your meat tenderize.<br><br>

			Add in your corn. For this recipe I use 3 whole corns, but cut it up into 3 parts each for convenience. Keep the bulalo simmering for another 10 minutes. After your 10 minutes are up, you can now add in your other vegetables: your cabbage, pechay, and green onion (or onion leeks). This is when you can also add in 2 tablespoons of patis, but again, this is an optional step.<br><br>

			Once you’ve fully cooked your vegetables, you’re ready to eat your bulalo! Serve it hot and share it with your family and friends. With a steaming cup of rice to pour your soup over, it’s definitely an awesome, unforgettable meal!

		
		<br><br>
		
			
		</p>
		

	</div>




	<div class="content"> 
		<p>You want to post your own recipe? Kindly email us for your entry by clicking the contact button above.</p>

	</div> 
	<br><br>

	
		<br><br><br><br><br><br>





	<footer style="text-align: center;">
		<br><br>
		<p><ins><b>All rights reserved 2022 &#169;</b></ins></p>
	</footer>





</body>
</html>